@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if(@User.Identity.IsAuthenticated)
    {
        @if(@ViewData["TwoFactorEnabled"].ToString().ToLower()=="true")
        {
            <a asp-controller="Account" asp-action="DisableAuthenticator">Disable two factor authentication</a>
        }
        else
        {
            <a asp-controller="Account" asp-action="EnableAuthenticator">Setup two factor authentication</a>
        }
        @if (User.IsInRole("Admin"))
        {
            <h4>Your role is Admin</h4>
        }
        else
        {
            <h4>Your role is User</h4>
        }
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
